body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 123px;
  width: 163px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #4f6ea0;
  width: 25%;
  height: 100%;
  padding: 1rem;
  margin: 100px auto;
}

@media only screen and (max-width: 480px) {
  .container {
    background-color: #4f6ea0;
    width: 80%;
    height: 100%;
    padding: 1rem;
    margin: 100px auto;
  }
}
