body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.circle {
  width: 182px;
  height: 178px;
  border-radius: 50%;
  border: 3px dashed #ffffff;
}

.percent {
  height: 100%;
  width: 54%;
  margin-top: -4px;
}

.percent .track {
  stroke: #fff;
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 8;
  transition: 0.5s;
}

/* .progress-circle {
  stroke: #00875a;
  fill: none;
  stroke-width: 4;
  stroke-dasharray: 490;
  stroke-dashoffset: 0;
  transition: 2s;
} */

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 123px;
  width: 163px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #4f6ea0;
  width: 25%;
  height: 100%;
  padding: 1rem;
  margin: 100px auto;
}

@media only screen and (max-width: 480px) {
  .container {
    background-color: #4f6ea0;
    width: 80%;
    height: 100%;
    padding: 1rem;
    margin: 100px auto;
  }
}
